<h1>Tímy:</h1>

<table>
  <tr>
    <th>Názov</th>
    <th>Liga</th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.name, team %></td>
   
    <td><%=h team.max_players %></td>
    <td><%=h team.league_id %></td>
    <% if team.user_id ==@current_user.id %>
      <td><%= link_to 'Edit', edit_team_path(team) %></td>
      <td><%= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New team', new_team_path %>
