<h1>Vytváraš nový tím na <b><%=h @selected_sport_name.capitalize%></b></h1>

<% form_for (@team), :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Logo" %><br />
    <%= f.file_field :photo%>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Späť', teams_path %>
