<p>
  <b>Názov:</b>
  <%=h @team.name %>
</p>
<p>
  <b>Kapitán tímu:</b>
  <%= link_to "#{@team.user_name} - #{@team.phone_number}", @team.user %>
</p>
<p>
  <b>Hráči:</b><br />
  <%= link_to @team.user_name, @team.user %>
</p>

<p>
  <b>Logo:</b>
  <p>
  <%=(image_tag(@team.logo_path, :alt => "Team Logo")) %>
</p>
</p>

<p>
  <b>Liga:</b>
  <%=h @team.league_id %>
</p>

<% if @team.user_id ==@current_user.id %>
  <%= link_to 'Edit', edit_team_path(@team) %> |
<% end %>
<%= link_to 'Back', teams_path %>
