<p>
  <b>Názov:</b>
  <%=h @team.name %>
</p>
<p>
  <b>Kapitán tímu:</b>
  <%= link_to "#{@team.user_name} #{@team.phone_number || ""}", @team.user %>
</p>
<p>Logo<br />
  <%= image_tag @team.photo.url(:thumb) %>
</p>
<p>
  <b>Hráči:</b><br />
  <table class="blackborder" width="100%" cellspacing="1" cellspadding="3" border="0">
    <% @team.users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td><td><%= link_to "Vyhodit z timu", user_team_remove_path(user,@team), :confirm => 'Naozaj?', :method => :delete %></td>
      </tr>
    <% end %>
  </table><br />
  <%= link_to "Pozvi ďalších hráčov", invite_path(@team) if @team.user_id ==@current_user.id %>
</p>

<% if @team.user_id ==@current_user.id %>
  <%= link_to 'Edit', edit_team_path(@team) %> |
<% end %>
<%= link_to 'Back', teams_path %>
