<% if (@team.user_id ==@current_user.id && @team.sport.max_players > @team.users.count) %> 
  <b>Tvoj tím nemá potrebný počet hráčov a nebude zaradený do turnaja!</b>
<br />
    <%= link_to "Pozvi ďalších hráčov", invite_path(@team) %>
<% end %>

<% if @team.sport.max_players == @team.users.count %> 
  <b>Tím spĺňa podmienky a bude zaradený do turnaja!</b>
<br />
<% end %>

<p>
  <b>Názov:</b>
  <%=h @team.name %>
</p>
<p>
  <b>Kapitán tímu:</b>
  <%= link_to "#{@team.user_name} #{@team.phone_number || ""}", @team.user %>
</p>
<p>Logo<br />
  <%= image_tag @team.photo.url(:thumb) %>
</p>
<p>
  <% if !@teams_tournaments.empty? && @team && @current_user && @team.user_id == @current_user.id %>
    <strong>Pozvanky do turnajov</strong>
    <table class="blackborder" style="width: 100%;" cellspacing="1" cellspadding="3" border="0"><tbody>
    <% if !@confirmed.empty? %>
      <% @confirmed.each do |teams_tournament| %>
        <tr class="header"><td colspan="4">Potvrdene turnaje</td></tr>
        <tr>
          <td><%= teams_tournament.tournament.name %></td>
          <td colspan="3"><%= link_to "link", teams_tournament.tournament %></td>
        </tr>
      <% end %>
    <% end %>
    <% if !@unconfirmed.empty? %>
      <% @unconfirmed.each do |teams_tournament| %>
        <tr class="header"><td colspan="4">Nepotvrdene turnaje</td></tr>
        <tr>
          <td><%= teams_tournament.tournament.name %></td>
          <td><%= link_to "link", teams_tournament.tournament %></td>
          <td><%= link_to "potvrdit",  tournament_team_confirm_path(teams_tournament.tournament.id, @team.id), :method => :put %></td>
          <td><%= link_to "odmietnut",  tournament_team_remove_path(teams_tournament.tournament.id, @team.id), :confirm => "Skutocne odmietnut?", :method => :delete %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody></table>
  <% end %>
</p>
<p>
  <b>Hráči:</b><br />
  <table class="blackborder" width="100%" cellspacing="1" cellspadding="3" border="0">
    <% @team.users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td><td> <%= image_tag( user.register_link ? "cross.png" : "tick.png") %></td>
    <% if false %>

        <td><%= link_to "Vyhodit z timu", user_team_remove_path(user,@team), :confirm => 'Naozaj?', :method => :delete %></td>
    <% end %>

      </tr>
    <% end %>
  </table><br />
  
</p>

<% if @team.user_id ==@current_user.id %>
  <%= link_to 'Edit', edit_team_path(@team) %> |
<% end %>
<%= link_to 'Back', teams_path %>
