<table class="blackborder" border="0" cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <th>Od</th>
    <th>Komu</th>
    <th>Čas odoslania</th>
    <th>Predmet</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%=h message.sender.name %></td>
    <td><%=h message.receiver.name %></td>
    <td><%=h message.sent_at ? message.sent_at.strftime("%d.%m.%Y o %H:%M") : ''%></td>
    <% if message.read_at == nil and message.receiver_id == @current_user.id %>    
    <td><%= link_to message.subject, message, :class => 'unread_message' %></td>
    <% else %>
    <td><%= link_to message.subject, message %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Napísať správu', new_message_path %>
