<!--<p>Vitajte na portáli <b>www.LetnaLiga.sk. </b>!<br> <br>
<b>Letná liga</b> je zložená <b>z piatich turnajov</b> v športoch ako <b>beh, plážový volejbal, streetbal, minifutbal, pétanque</b>.<br /><br /> <b>Letná Liga</b> je tu <b>pre ľudí</b>, ktorý sa chcú <b>zabaviť</b>, stretnúť nových ľudí a parádne si <b>zašportovať</b>. Súťažiť môžete v každom športe zvlášť alebo sa zapojiť do celkovej súťaže o výhercu/výherkyňu Letnej Ligy (minimálne zapojenie do troch športov). Viac nájdeš v <%= link_to "pravidlách", rules_path("base") %>.<br /><br /> <%= link_to "Zaregistruj sa", new_user_path %>, vytvor si tím, pozvi priateľov! <br /><br /><b>Začíname Runningom v sobotu 18. 6. 2011!</b> <b><%= link_to "Checkni event", "http://www.facebook.com/#!/event.php?eid=171543702906061" %></b>
<%= link_to (image_tag("poster2.jpg", :alt => "LetnaLiga Poster", :class=>"poster_img")), poster_path %>
<br />V priebehu celej Letnej ligy budú prebiehať súťaže v piškvorkách, pexese, stolnom futbale (na Incheba pláži). <br />
Počas turnajov požičiavame zadarmo športové potreby ako napr. rôzne lopty, freesbee, hackees, takže môžete ukázať svoje umenie. Najlepšie kúsky budú ohonotené.-->


<p>Letná liga je <b>šesťtýždňová športová súťaž</b> zložená z rôznych športov. Začíname a teda <b>beháme 18.6.</b> z La Franconi, potom hráme <b>beach soccer 2.7.</b> v areáli Incheba pláže, po plážovom futbale si dáme <b>16.7. streetball</b> na FTVŠ (alebo slangovo povedané na „Lafku“).</p>

<p>Po basketbale na Lafku pokračujeme a dáme si <b>plážový volejbal</b> (beach volley) v Summer club Incheba  a to <b>23.7.</b></p>
<%= link_to (image_tag("poster2.jpg", :alt => "LetnaLiga Poster", :class=>"poster_img")), poster_path %>
<p>Športový turnaj zakončíme francúzskou hrou <b>pétanque</b> (po slovensky petang) v príjemnej atmosfére športového areálu FTVŠ na nábreží Dunaja dňa 30.7. kedy bude aj vyhodnotenie celého turnaja aj jednotlivých súťaží <b>Letnej ligy</b>. Najvšestranejším športovcom Letnej ligy odovzdáme ceny a užijeme si párty.</p>

<p>Počas celej <b>Letnej ligy</b> budú prebiehať súťaže v <b>piškvorkách, pexese, stolnom futbale</b> (na Incheba pláži).</p>

<p>Počas turnajov požičiavame zadarmo športové potreby ako napr. rôzne lopty, freesbee, hackees, takže môžete ukázať svoje umenie. Najlepšie kúsky budú ohodnotené.</p>


