<h1>Editing sport</h1>

<% form_for(@sport) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :parts %><br />
    <%= f.text_field :parts %>
  </p>
  <p>
    <%= f.label :team %><br />
    <%= f.check_box :team %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @sport %> |
<%= link_to 'Back', sports_path %>