<h1>Profil - <%= @user.name %></h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Meno"  %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label "Priezvisko" %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :Telefón %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :Heslo %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label "Potvrdenie hesla" %><br />
    <%= f.text_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :pohlavie %><br />
    <%= f.select :gender, ["Muž", "Žena"] %>
 
  </p>

  <p>
    <%= f.submit 'Uložiť' %>
  </p>
<% end %>

<%= link_to 'Ukáž profil', @user %> |
<%= link_to 'Späť', users_path %>
