<h1>Registrácia nového používateľa</h1>

<p>Registrácia bude každý hrací deň od 8:30 v areáli kde sa bude hrať:<br />  
18.6. - Beh (running) na FTVŠ (LaFranconi)<br />
2.7.  - Plážový futbal (beach soccer) na Incheba pláži <br />
16.7. - Streetball na FTVŠ  <br />
23.7. - Plážový volejbal (beach volley) na Incheba pláži <br />
30.7. - Pétanque (petang) na FTVŠ<br />
<br />
Piškvorky, pexeso, freesbee, futbal, basketbal freestyle – počas každého turnaja </p>
<b>Registráciou na portáli aLiga.sk automaticky súhlasíte so <%= link_to "všeobecnými podmienkami", rules_path("base") %></b>
<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :Meno %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :Priezvisko %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :Telefón %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :Heslo %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label "Potvrdenie hesla" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :Email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :Pohlavie %><br />   
    <%= f.select :gender, ["Muž", "Žena"] %>
 
  </p>


  <p>
    <%= f.label "Mám zájem o(plná cena/zľava pre študenta)" %><br />   
    <select name="user[interested_in]">
      <option value="volleyball"> Volleyball za 5/4 €</option>
      <option value="streetball"> Streetball za 5/4 €</option>
      <option value="soccer"> Soccer za 5/4 €</option>
      <option value="petanque"> Pétanque za 5/4 €</option>
      <option value="running"> Beh za 5/4 €</option>
      <option value="all"> Všetky športy za 25/20 €</option>
    </select>
  </p>
  <p><b>
    Aby si bol zaradený do turnaja je nutné uhradiť sumu za štartovné na účet: 2920857372 / 1100. Bližšie info pošleme mailom.
  </b></p>  
<span> </span>
  <p>
    <%= f.submit 'Zaregistruj' %>
  </p>
<% end %>

<%= link_to 'Späť', users_path %>
