<h1>Registrácia nového používateľa</h1>

<b>Registráciou na portáli aLiga.sk automaticky súhlasíte so <%= link_to "všeobecnými podmienkami", rules_path("vp") %></b>
<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :Meno %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :Priezvisko %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :Telefón %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :Heslo %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label "Potvrdenie hesla" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :Email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :Pohlavie %><br />   
    <%= f.select :gender, ["Muž", "Žena"] %>
 
  </p>
  <p>
    <%= f.label "Mám zájem o" %><br />   
    <select name="user[interested_in]">
      <option value=""> Volleyball za 9/7 €</option>
      <option value=""> Streetball za 9/7 €</option>
      <option value=""> Soccer za 9/7 €</option>
      <option value=""> Pétanque za 5/4 €</option>
      <option value=""> Beh za 5/4 €</option>
      <option value=""> Všetky športy za 25/20 €</option>
 
  </p>
<br /><br />
  <p>
    <%= f.submit 'Zaregistruj' %>
  </p>
<% end %>

<%= link_to 'Späť', users_path %>
