<h1>Registrácia nového používateľa</h1>

Precitajte si podmienky!!! Ktore nemame napisane!!!
<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :Meno %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :Priezvisko %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :Telefón %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :Heslo %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label "Potvrdenie hesla" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :Email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :Pohlavie %><br />   
    <%= f.select :gender, ["Muž", "Žena"] %>
 
  </p>

  <p>
    <%= f.submit 'Zaregistruj' %>
  </p>
<% end %>

<%= link_to 'Späť', users_path %>
