<% if @current_user.id == @user.id && @current_user.first_name.blank? || @current_user.last_name.blank? %> 
Nemáš vyplnené všetky údaje, bolo by super, keby si mal vyplnené aspoň meno a priezvisko.
<br />  
<% end %>

<% if false && @current_user.id == @user.id && @user.sports.empty? && @user.teams.empty? %>
Zatiaľ nie si členom súťaže v žiadnom športovom odvetví.<br />
Skús sa pridať napríklad na  <%= link_to "streetball!",teams__path(Sport.find_by_name "streetball") %>
<% end %>

<% if @current_user.id == @user.id && @user.invitations.count > 0  %>
  Si pozvaný do tímu:
  <table>
  <% @user.invitations.each do |inv| %>
    <tr>
      <td><%= link_to inv.team.name, inv.team %></td><td> - <%= link_to "akceptovať", accept_path(inv) %></td><td> - <%= link_to "odmietnuť", decline_path(inv) %></td> 
    </tr>
  <% end %>
  </table>
<% end %>

<% if @user.teams.empty? %>
Zatiaľ nie si členom súťaže v žiadnom športovom odvetví.<br />
V prihláške si vyplnil, že máš záujem o
  <% if @current_user.interested_in == "all" %> 
    všetky športy, v sekciách pre jednotlivé odvetvia sa môžeš zaregistrovať na eventy!
  <% else %>
    <%= link_to @current_user.interested_in, teams__path(Sport.find_by_name @current_user.interested_in) %>
  <% end %>  
<% end %>

<br class="clear" />
<%=(image_tag(@user.foto_path, :alt => "Profile Image", :class=>"profile_img")) %>

<p class="user_details">
<b>Meno:</b>
<%=h @user.first_name %>


<br />
  <b>Priezvisko:</b>
  <%=h @user.last_name %>

<br />
  <b>Email:</b>
  <%=h @user.email %>

<br />
  <b>Pohlavie:</b>
  <%=h @user.gender %>
</p>
<br class="clear" />
<b>Člen tímov:</b>
<br />

<table>
<% @user.teams.each do |team| %>
  <tr>
    <td><%= team.sport.name.capitalize %>: </td>
    <td><%= link_to team.name, team %></td>
  </tr>
<% end %>
</table>

<br class="clear" />
<br /><br />
<% if @current_user.id == @user.id %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Späť', users_path %>
<% end %>

