<p>
  <%=(image_tag(@user.foto_path, :alt => "Profile Image")) %>
</p>

<p>
  <b>Meno:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Priezvisko:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Registrácia:</b>
  <%=h @user.reg_date %>
</p>

<p>
  <b>Pohlavie:</b>
  <%=h @user.gender %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Späť', users_path %>
