<p>
  <b>Name:</b>
  <%=h @tournament.name %>
</p>
<table>
<tr>
    <td><b>Pridané tímy:</b></td>
    <td></td>
</tr>
<% @tournament_teams_confirmed.each do |team| %>
  <tr>
    <td><%=h team.name %></td>
    <td><%= link_to 'Odstrániť', tournament_team_remove_path(@tournament,team), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<hr>
<table>
<tr>
    <td><b>Nepotvrdené tímy:</b></td>
    <td></td>
</tr>
<% @tournament_teams_not_confirmed.each do |team| %>
  <tr>
    <td><%=h team.name %></td>
    <td><%= link_to 'Odstrániť', tournament_team_remove_path(@tournament,team), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<hr>
<table>
<tr>
    <td><b>Voľné tímy:</b></td>
    <td></td>
</tr>
<% @other_teams.each do |team| %>
  <tr>
    <td><%=h team.name %></td>
    <td><%= link_to 'Pridať', tournament_team_add_path(@tournament, team),  :method => :put %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'Back', tournaments_path %>
