<h1><%=h @tournament.name %>
</h1>
<% if @should_confirm %>
  <p>
  <b>  Tvoj tím bol pozvaný na tento turnaj, chceš sa zúčastnť?</b><br />
    <%= link_to "Áno",tournament_team_confirm_path(@tournament,@team), :method => :put %> | 
    <%= link_to "Nie",tournament_team_remove_path(@tournament,@team), :confirm => 'Are you sure?', :method => :delete %>

  </p>
  <br />
<% end %>
<p>
  <b>Ihrisko:</b>
  <%= link_to @tournament.court_name,@tournament.court %>
</p>
<p>
  <b>Dodatočné info:</b>
  <%= @tournament.description %>
</p>
<p>
  <b>Kategórie:</b>
<table>
    <tr><td>&nbsp;&nbsp;Muži:</td><td> <%= image_tag(@tournament.male ? "tick.png" : "cross.png") %></td></tr>
    <tr><td>&nbsp;&nbsp;Ženy:</td><td> <%= image_tag(@tournament.female ? "tick.png" : "cross.png") %> </td></tr>
    <tr><td>&nbsp;&nbsp;Mix:</td><td> <%= image_tag(@tournament.mix ? "tick.png" : "cross.png") %> </td></tr>
</table> 
</p><p>
  <b>Turnaj vytvoril:</b>
  <%= link_to @tournament.user_name, @tournament.user %>
</p>

<p>
  <b>Začiatok:</b>
  <%=h @tournament.starts_at.strftime("%d.%m.%Y o %H:%M") %>
</p>

<% if @current_user.id == @tournament.user_id %>
  <%= link_to 'Edit', edit_tournament_path(@tournament) %> |
    <%= link_to 'Vygeneruj zápasy', generate_tournament_mathces_path(@tournament), :method=>:put  %> |
    <% if @tournament.sport.team %>
      <%= link_to 'Teams', edit_tournament_teams_path(@tournament)  %> |
    <% else%>
      <%= link_to 'Users', edit_tournament_teams_path(@tournament)  %> |
    <% end %>
    <%= link_to 'Matches', tournament_matches_path(@tournament), :method => :get  %> |
<% end %>
<%= link_to 'Back', tournaments_path %>
