<%= calendar_date_select_includes "silver" %>
<h1>New free match</h1>

<% form_for(@match) do |f| %>
  <%= f.error_messages %>

  <p>
    
  <% if((Sport.find @selected_sport).team && false) %>
    <%= f.label :Domáci %><br />
    <%= f.label @match.team1_name %>
<%= f.label :Domáci %><br />
    <%= f.label @match.user1_name %>
  <% else %>
    
  <% end %>
  </p>
  <p>
    <%= f.label :Datum %><br />
    <%= calendar_date_select_tag "starts_at","#{@match.starts_at ? @match.starts_at.to_date : ''}" %>
  </p>
  <p>
    <%= f.label :Cas %><br />
    <%= select_time(Time.now, :prefix => "match[time]") %>

  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', matches_path %>
