<p>
  <% unless(@match.team1.blank?) %>
    <%=h "#{@match.team1_name} vs. #{@match.team2_name}"  %>
  <% else %>
    <%=h "#{@match.user1_name} vs. #{@match.user2_name}"  %>
  <% end %>

</p>

<p>
  <b>Team2:</b>
  <%=h @match.team2_id %>
</p>

<p>
  <b>Score1:</b>
  <%=h @match.score1 %>
</p>

<p>
  <b>Score2:</b>
  <%=h @match.score2 %>
</p>

<p>
  <b>Points1:</b>
  <%=h @match.points1 %>
</p>

<p>
  <b>Points2:</b>
  <%=h @match.points2 %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
