<h1> Kontakty na nás - radi Vám pomôžeme </h1>
<TABLE BORDER=1 BORDERCOLOR="#00000a" CELLPADDING=2 CELLSPACING=0>
	<TR VALIGN=TOP>
		<TD>
			<P ALIGN=CENTER>Kontakt</P>
		</TD>
		<TD>
			<P ALIGN=CENTER>Kontakt</P>
		</TD>
		<TD>
			<P ALIGN=CENTER>Má na starosti</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>

		<TD>
			<P><B>Tina Holubová </B>
			</P>
		</TD>
		<TD>
<br />
			<%= link_to "tina@letnaliga.sk", "mailto:tina@letnaliga.sk" %>
		</TD>
		<TD>
			<P><B>Registrácie </B>pre všetky
			športy</P>

			<P><B>Pomoc ľuďom</B></P>
			<P><B>Informácie </B>
			</P>
			<P><B>Administratíva</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>

		<TD>
			<P><B>Michal Maxian</B></P>
		</TD>
		<TD>
<br />
      <%= link_to "maxo@letnaliga.sk","mailto:maxo@letnaliga.sk" %>,<br />
      <%= link_to "www.maxian.sk", "http://www.maxian.sk" %>
		</TD>
		<TD>
			<P><B>OZ Sme ľudia</B>
			<%= link_to "www.smeludia.sk", "http://www.smeludia.sk" %>
			<P>Administratíva 
			</P>

			<P>Marketing 
			</P>
			<P><BR>
			</P>
			<P><B>Plážový futbal</B></P>
			<P><B>Plážový volejbal</B></P>
			<P><B>Petang</B></P>
		</TD>

	</TR>
	<TR VALIGN=TOP>
		<TD>
			<P><B>Martin Mazúr</B></P>
		</TD>
		<TD>
<br />
      <%= link_to "martin@letnaliga.sk","mailto:martin@letnaliga.sk" %>
		</TD>
		<TD>
			<P><B>Beh (running)</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD>
			<P><B>Peter Krajňák</B></P>

		</TD>
		<TD>
<br />
<%= link_to "peter@letnaliga.sk","mailto:peter@letnaliga.sk" %>
		</TD>
		<TD>
			<P><B>Marketing</B></P>

			<P><B>Sponzoring</B></P>
			<P><BR>
			</P>
			<P><B>Streetball </B>
			</P>
		</TD>
	</TR>
</TABLE>
<br />
Organizátor súťaže Letná liga je OZ Sme ľudia (<%= link_to "www.smeludia.sk", ("http://www.smeludia.sk") %>)<br />
    <%= link_to raw("<img src=\"/images/adds/adv5.png\" style=\"border: none;\" alt=\"\" />"), "http://SmeLudia.sk/", :title=>"Sme Ludia.", :target=>"_blank"%>

<br /><br />
Adresa OZ:<br />

OZ Sme ľudia<br />

Prievozská 18<br />

Bratislava, 821 09
