<h1> Otázky a odpovede - FAQ</h1>
<a href="#1"><h2>1 - Čo je Letná liga?</h2></a>
<a href="#2"><h2>2 - Aké športy sa hrajú v Letnej lige?</h2></a>
<a href="#3"><h2>3 - Ako sa prihlásim na Letnú ligu?</h2></a>
<a href="#4"><h2>4 - Ako prihlásim tím na Letnú ligu?</h2></a>
<a href="#5"><h2>5 - Kto je organizátor súťaže?</h2></a>
<a href="#6"><h2>6 - Koho mám kontaktovať ak mi niečo nefunguje?</h2></a>
<a href="#7"><h2>7 - Ako je hodnotená Letná liga?</h2></a>

<h1> Odpovede:</h1>

<a name="1"> <h2>1 - Čo je Letná liga?</h2></a>
Letná liga je šesť týždňová športová súťaž, ktorá je zložená z piatich samostatných turnajov v rozličných športoch.
<a name="2"> <h2>2 - Aké športy sa hrajú v Letnej lige?</h2></a>

Letná liga je turnaj zložený z piatich športov (running/beh, beach soccer/plážový futbal, streetball/streetbal, beach volley/plážový volejbal, pétanque/petang).

<a name="3"><h2>3 - Ako sa prihlásim na Letnú ligu?</h2></a>
Prihlásiť sa môžeš cez portál na adrese <%= link_to "registrácie", new_user_path %>. Tu si vytvoríš prihlasovacie meno
a heslo a po kliknutí na link ktorý Ti príde mailom sa môžeš prihlásiť na portál <%= link_to "
www.letnaliga.sk", "http://www.letnaliga.sk" %>. Potom sa prihlásiš na šport ktorý
chceš hrať.<br /><br />

Prihlásiť sa môžeš aj vyplnením hromadnej prihlášky, ktorú nájdeš tu: <%= link_to "doc", "/timovaprihlaska.doc" %> , <%=
link_to "pdf", "/timovaprihlaska.pdf" %>. Prihlášku treba vyplniť a poslať na adresu <%= link_to "registracia@letnaliga.sk",
"mailto:registracia@letnaliga.sk" %> . My Tvoje údaje zapíšeme, prihlásime Ťa na
portál <%= link_to "www.letnaliga.sk", "http://www.letnaliga.sk" %> a pošleme Tebe
aj tvojim kamarátom informácie o zaplatení štartovného, podmienky súťaže a pokyny ako, kde a kedy
sa bude hrať Tvoj šport.
<br /><br />
1. Zaregistrovanie na portáli <%= link_to "registrácie", new_user_path %> alebo zaslaním vyplnenej prihlášky (<%= link_to "doc", "/timovaprihlaska.doc" %> , <%=link_to "pdf", "/timovaprihlaska.pdf" %>) na adresu <%= link_to "registracia@letnaliga.sk",
("mailto:registracia@letnaliga.sk") %> .<br />
2. Potvrdzujúcim klikom na link, ktorý ti pride na mail po registrácii.<br />
3. Zaplatením poplatku na účet Letnej ligy (2920857372 / 1100)<br /><br /><br />

<a name="4"><h2>4 - Ako prihlásim tím na Letnú ligu?</h2></a>
Sú dve možnosti ako prihlásiť tím:<br /><br />

1. Vyplnením hromadnej prihlášky, ktorú nájdeš tu <%= link_to "doc", "/timovaprihlaska.doc" %> , <%=link_to "pdf", "/timovaprihlaska.pdf" %>. <br>

Prihlášku treba vyplniť a poslať na adresu <%= link_to "registracia@letnaliga.sk", "mailto:registracia@letnaliga.sk" %>. My Tvoje údaje zapíšeme, prihlásime Ťa na portál <%= link_to "www.letnaliga.sk", ("http://
www.letnaliga.sk") %> a pošleme Tebe aj Tvojim kamarátom informácie o zaplatení
štartovného, podmienky súťaže a pokyny ako, kde a kedy sa bude hrať Tvoj šport.<br /><br />
2. Zaregistrovaním hráčov na portáli <%= link_to "www.letnaliga.sk", ("http:/
/www.letnaliga.sk") %>, následne si vytvoríš tím pre šport v ktorom chceš súťažiť. Pozveš
ostatných hráčov na portál a každý pozvaný hráč sa môže pripojiť k Tvojmu tímu.

<a name="5"><h2>5 - Kto je organizátor súťaže?</h2></a>
Organizátor súťaže Letná liga je OZ Sme ľudia (<%= link_to "www.smeludia.sk",
("http://www.smeludia.sk") %>).
<br /><br />
Korešpondenčná adresa OZ Sme ľudia: <br />Sklenárova 44, 821 09 Bratislava
<br />
Adresa prevádzky:<br /> Prievozská 18, 821 09 Bratislava
<br />
<a name="6"><h2>6 - Koho mám kontaktovať ak mi niečo nefunguje?</h2></a>
Všetky kontakty nájdeš na adrese <%= link_to "www.letnaliga.sk/kontakty", contacts_path %>.

Registrácie a informácie má na starosti Tina a kontakt na ňu je <%= link_to "tina@letnaliga.sk",
("mailto:tina@letnaliga.sk") %> alebo 0907 100 319.

<a name="7"><h2>7 - Ako je hodnotená Letná liga?</h2></a>
Každý šport/kolo je hodnotené samostatne (pri tímových športoch dostane každý jeden športovec
body podľa umiestnenia celého tímu).

Na konci je ohodnotený najvšestrannejší športovec, ktorý absolvoval aspoň 3 súťaže v rôznych
športoch.
<br /><br />
<table cellspacing="0" cellpadding="2" bordercolor="#00000a" border="1">
	<tbody><tr >
<td>
			<p><b>Meno</b></p>
		</td>
		<td>
			<p><b>Šport</b></p>
		</td>
		<td>
			<p align="CENTER"><b>Umiestnenie</b></p>
		</td>
		<td>
			<p><b>Body</b></p>
		</td>
	</tr>
	<tr >
		<td rowspan="4">
			<p>Jano</p>
		</td>
		<td>
			<p>Beh</p>
		</td>
		<td>
			<p align="CENTER">5.</p>
		</td>
		<td>
			<p>0</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>Futbal</p>
		</td>
		<td>
			<p align="CENTER">2.</p>
		</td>
		<td>
			<p>30</p>
		</td>
	</tr>
	<tr >
		<td>
			<p>Petang</p>
		</td>
		<td>
			<p align="CENTER">3.</p>
		</td>
		<td>
			<p>20</p>
		</td>
	</tr>
	<tr>
		<td>
			<p><b>Celkom</b></p>
		</td>
		<td>
			<p align="CENTER"><b>3.</b></p>
		</td>
		<td>
			<p><b>50b</b></p>
		</td>
	</tr>
	<tr >
		<td rowspan="5">
			<p>Ondro</p>
		</td>
		<td>
			<p>Beh</p>
		</td>
		<td>
			<p align="CENTER">4.</p>
		</td>
		<td>
			<p>15</p>
		</td>
	</tr>
	<tr >
		<td>
			<p>Streetbal</p>
		</td>
		<td>
			<p align="CENTER">2.</p>
		</td>
		<td >
			<p>30</p>
		</td>
	</tr>
	<tr >
		<td >
			<p>Plážový volejbal</p>
		</td>
		<td>
			<p align="CENTER">4.</p>
		</td>
		<td >
			<p>10</p>
		</td>
	</tr>
	<tr >
		<td >
			<p>Petang</p>
		</td>
		<td>
			<p align="CENTER">3.</p>
		</td>
		<td >
			<p>20</p>
		</td>
	</tr>
	<tr >
		<td >
			<p><b>Celkom</b></p>
		</td>
		<td>
			<p align="CENTER"><b>2.</b></p>
		</td>
		<td >
			<p><b>75b</b></p>
		</td>
	</tr>
	<tr >
		<td rowspan="6">
			<p>Juro</p>
		</td>
		<td >
			<p>Beh</p>
		</td>
		<td>
			<p align="CENTER">1.</p>
		</td>
		<td >
			<p>30</p>
		</td>
	</tr>
	<tr >
		<td >
			<p>Streetbal</p>
		</td>
		<td>
			<p align="CENTER">4.</p>
		</td>
		<td >
			<p>10</p>
		</td>
	</tr>
	<tr >
		<td >
			<p>Volejbal</p>
		</td>
		<td>
			<p align="CENTER">4.</p>
		</td>
		<td >
			<p>10</p>
		</td>
	</tr>
	<tr >
		<td >
			<p>Futbal</p>
		</td>
		<td>
			<p align="CENTER">3.</p>
		</td>
		<td >
			<p>10</p>
		</td>
	</tr>
	<tr >
		<td >
			<p>Petang</p>
		</td>
		<td>
			<p align="CENTER">2.</p>
		</td>
		<td >
			<p>30</p>
		</td>
	</tr>
	<tr >
		<td >
			<p><b>Celkom</b></p>
		</td>
		<td>
			<p align="CENTER"><b>1.</b></p>
		</td>
		<td >
			<p><b>90b</b></p>
		</td>
	</tr>
</tbody></table>
