<p>
  <b>Header:</b>
  <%=h @newz.header %>
</p>

<p>
  <b>Text:</b>
  <%=h @newz.text %>
</p>

<% if @current_user.user_role == "admin" %>
  <%= link_to 'Edit', edit_newz_path(@newz) %>
  <%= link_to 'Back', newzs_path %>
  <%= link_to 'Destroy', @newz, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
