<div id="left">
  <div id="news">
   <span class = "heading plus">Novinky </span>
    <% (Newz.find :all, :limit => 5, :order => 'created_at desc').each do |newz| %>
      <%= raw ("<span class = \"news_header\">#{newz.sport.name.capitalize}:</span>") %>&nbsp&nbsp<%= link_to "#{newz.header}", newz %><br>
    <% end %>
    <br>
    <b> <%= link_to " ...všetky", newzs_path %></b>
  </div>
    
  <span class="heading plus">Partneri</span>  
  <div id="reklama">
    
    <%= link_to raw("<img src=\"/images/adds/adv5.png\" style=\"border: none;\" alt=\"\" />"), "http://SmeLudia.sk/", :title=>"Sme Ludia.", :target=>"_blank"%>
<%= link_to raw("<img src=\"/images/adds/adv3.png\" style=\"border: none;\" alt=\"Ecolt\" />"), "http://www.ecolt.sk", :title=>"Ecolt", :target=>"_blank"%>
<%= link_to raw("<img src=\"/images/adds/adv8.png\" style=\"border: none;\" alt=\"Doktor PC\" />"), "http://doktorpc.sk", :title=>"Doktor PC", :target=>"_blank"%>
<%= link_to raw("<img src=\"/images/adds/adv6.png\" style=\"border: none;\" alt=\"Basketland\" />"), "http://www.basketland.sk", :title=>"SSA - Basketland", :target=>"_blank"%>
<%= link_to raw("<img src=\"/images/adds/adv1.png\" style=\"border: none;\" alt=\"Monit 7, GPS car tracking system\" />"), "http://www.monit7.com", :title=>"Monit 7, GPS car tracking system", :target=>"_blank"%>
<%= link_to raw("<img src=\"/images/adds/adv2.png\" style=\"border: none;\" alt=\"Vysokoskolaci.sk\" />"), "http://vysokoskolaci.sk", :title=>"Vysokoskolaci", :target=>"_blank"%>
<%= link_to raw("<img src=\"/images/adds/adv7.png\" style=\"border: none;\" alt=\"Zlatý Bažant\" />"), "http://www.zlatybazant.sk", :title=>"Zlatý Bažant", :target=>"_blank"%>
<%= link_to raw("<img src=\"/images/adds/adv9.png\" style=\"border: none;\" alt=\"Behame.sk\" />"), "http://www.behame.sk", :title=>"behame.sk", :target=>"_blank"%>
    
  </div>
</div>
