<% case @selected_sport_name when "streetball"  %>
  <%= link_to '<span>zápasy</span>', matches__path(@selected_sport.to_s) , :class => (params[:controller] == "matches" ? 'submenu_item submenu_item_selected' : 'submenu_item')%>
  <%= link_to '<span>tabuľka </span>', scores_path(@selected_sport.to_s) , :class => (params[:controller] == "scores" ? 'submenu_item submenu_item_selected' : 'submenu_item')%>
  <%= link_to '<span>tímy </span>', teams__path(@selected_sport.to_s)  , :class => (params[:controller] == "teams" ? 'submenu_item submenu_item_selected' : 'submenu_item')%>
  <%= link_to '<span>pravidlá</span>', rules_path(@selected_sport.to_s)  , :class => (params[:action] == "rules" ? 'submenu_item submenu_item_selected' : 'submenu_item')%>
  <%= link_to '<span>ligy</span>', leagues__path(@selected_sport.to_s) , :class => (params[:controller] == "leagues" ? 'submenu_item submenu_item_selected' : 'submenu_item')%>



<% when "squash", "badminton", "petanque", "billiard", "golf" %>
  <%= link_to "<span> hráči </span>", users__path(@selected_sport.to_s) , :class => (params[:controller] == "users" ? 'submenu_item submenu_item_selected' : 'submenu_item')%>
  <%= link_to '<span>zápasy</span>', matches__path(@selected_sport.to_s) , :class => (params[:controller] == "matches" ? 'submenu_item submenu_item_selected' : 'submenu_item')%>
  <%= link_to '<span>tabuľka </span>', scores_path(@selected_sport.to_s) , :class => (params[:controller] == "scores" ? 'submenu_item submenu_item_selected' : 'submenu_item')%>
  <%= link_to '<span>pravidlá</span>', rules_path(@selected_sport.to_s)  , :class => (params[:action] == "rules" ? 'submenu_item submenu_item_selected' : 'submenu_item')%>
  <%= link_to '<span>ligy</span>', leagues__path(@selected_sport.to_s) , :class => (params[:controller] == "leagues" ? 'submenu_item submenu_item_selected' : 'submenu_item')%>
<% end%>
