<div id="menu">
<ul id="soccer">
  <li>
    <span>
      <%= link_to 'users', users__path('soccer')  %>
    </span>
| 
  </li>
  <li>
    <span>
      <%= link_to 'matches', matches__path('soccer')  %>
    </span>
| 
  </li>
  <li>
    <span>
       <%= link_to 'tabulka', scores_path('soccer')  %>
    </span>
| 
  </li>
  <li>
    <span>
      <%= link_to 'timy', teams__path('soccer')  %>
    </span>
| 
  </li>
  <li>
    <span>
      <%= link_to 'pravidla', rules_path('soccer')  %>
    </span>
| 
  </li>
  
  </li>
  <li class="last">
  <span>
      <%= link_to 'ligy', leagues__path('soccer')  %>
    </span>
  </li>
</ul>
</div>
<br>
