<!--... right sidebar goes here ...-->
<div id="right">
  <% if Tournament.with_image.count > 0  %>
    <% tournament  = Tournament.with_image.rand %>
   	<%= link_to image_tag("/images/tournaments/#{tournament.pic_path}.png"), (@current_user ? tournament : show_public_path(tournament.sport.name))%>
  <% end %>



	<% if(@current_user) %>
  <h2 >Najbližší program</h2>
  <% e = Event.find(:all, :conditions => ["user_id = ? AND start_at >= ?", @current_user.id,Time.now], :limit => 7) %>
		<table>
			<% e.each do |event| %>
        <tr>
	      	<td>
              <%= event.start_at.strftime("%d.%m. %H:%M") %>&nbsp;&nbsp;<%= link_to event.name, calendar_path(event) %>
	        </td>
				</tr>		 
      <% end %>
		</table>
  <%= link_to "..vypísať všetky", calendar__path %>
  <% else %>
  <span class = "heading plus"> Registrácia</span>
    <div id="news">
      1. klikni na <%= link_to "registráciu", new_user_path %><br />
      2. vyplň mail, informácie o sebe a vyber si šport<br />
      3. klikni na odkaz, ktorý ti prišiel mailom<br />
      4. prihlás sa na stránke <%= link_to "www.LetnaLiga.sk", default_path %><br /><br />
      ...prípadne si stiahni prihlášku v <%= link_to ".doc", "/timovaprihlaska.doc" %>, alebo <%= link_to ".pdf", "/timovaprihlaska.pdf" %> formáte
    </div>
  <span class = "heading plus"> Rýchla registrácia</span>
    <div id="news">
      <form id="invite_form" method="post" action="/invite_self" >
      <p>Len zadaj email:   <input id="email" size = 20 type="text" name="email" />
      </p>
     <input id="submit" type="submit" value="OK"/>
    </p>
    </form>
    </div>
 <% end %>
	<% if(@selected_sport && false) %>
  <h2 >Free match</h2>

  <% matches = Match.find(:all, :conditions => ["sport_id  = ? AND free = ? AND starts_at >= ? AND user2_id is NULL", @selected_sport, true ,Time.now + 1.hour], :limit => 7) %>
		<table>
			<% matches.each do |match| %>
        <tr>
	      	<td>
              <%= match.starts_at.strftime("%d.%m. %H:%M") %>
          </td>
          <td>
              <%= "proti: #{link_to match.user1.name, match.user1}" %>
          </td>
 <% unless match.user1_id == @current_user.id %>
          <td>
              <%= link_to "join", join_free_match_path(match), :confirm => 'Potvrdzuješ svoju účasť na zápase?' %>
	        </td>
 <% end %>
				</tr>		 
      <% end %>
		</table>
  <%= link_to "..vypísať všetky", calendar__path %>&nbsp;&nbsp;<%= link_to "vytvoriť zapas", new_match_path %>
  <% end %>
</div>
