<!--... right sidebar goes here ...-->
<div id="right">
  <h2 >Najbližší program</h2>
	<% if(@current_user) %>
  <% e = Event.find(:all, :conditions => ["user_id = ? AND start_at >= ?", @current_user.id,Time.now], :limit => 7) %>
		<table>
			<% e.each do |event| %>
        <tr>
	      	<td>
              <%= event.start_at.strftime("%d.%m. %H:%M") %>&nbsp;&nbsp;<%= link_to event.name, calendar_path(event) %>
	        </td>
				</tr>		 
      <% end %>
		</table>
  <%= link_to "..vypísať všetky", calendar__path %>
  <% end %>
  <h2 >Free match</h2>
	<% if(@selected_sport) %>
  <% matches = Match.find(:all, :conditions => ["user1_id <> ? AND sport_id  = ? AND free = ? AND starts_at >= ? AND user2_id is NULL", @current_user.id, @selected_sport, true ,Time.now + 1.hour], :limit => 7) %>
		<table>
			<% matches.each do |match| %>
        <tr>
	      	<td>
              <%= match.starts_at.strftime("%d.%m. %H:%M") %>
          </td>
          <td>
              <%= "proti: #{link_to match.user1.name, match.user1}" %>
          </td>
          <td>
              <%= link_to "join", join_free_match_path(match), :confirm => 'Potvrdzuješ svoju účasť na zápase?' %>
	        </td>
				</tr>		 
      <% end %>
		</table>
  <%= link_to "..vypísať všetky", calendar__path %>&nbsp;&nbsp;<%= link_to "vytvoriť zapas", new_match_path %>
  <% end %>
</div>
