<%= render :partial => "layouts/head" %>
<!--<%= render :partial => "layouts/menu" %>

<p style="color: green"><%= flash[:notice] %></p>-->
  <div id="content">
        <div id="contentbg_top"></div>
        <%= render :partial => "layouts/left_sidebar"  %>
        <%= render :partial => "layouts/main_body"  %>        
        <div id="right">
        </div>
       <br class="clear" />
      </div>
    </div>
    <div id="footer">
    </div>
	</body>
</html>
