<%= render :partial => "layouts/head" %>
<!--<%= render :partial => "layouts/menu" %>-->

  <div id="content">
        <div id="contentbg_top"></div>
        <%= render :partial => "layouts/left_sidebar"  %>
        <%= render :partial => "layouts/main_body"  %>        
        <%= render :partial => "layouts/right_sidebar"  %>        
        <br class="clear" />
      </div>
    </div>
    <div id="footer">
<div id = "footer_div"><br>
      <p><b>Informácie</b> hľadajte na <b>info@letnaliga.sk</b></p>

<p>Ak sa chceš opýtať na <b>registráciu</b> nestrácaj čas a píš na registracia@letnaliga.sk</b></p>
<p>Otázky na <b>beach volley, soccer a pétanque</b> posielaj Maxovi na maxo@letnaliga.sk</b></p>
<p>Otázky na <b>streetball</b> smeruj na Peťa mailom peter@letnaliga.sk</b></p>
<p>Ak si chceš za<b>beh</b>ať a máš otázku tak behom pošli mail na Martina alebo namartin@letnaliga.sk</b></p>
</div>
    </div>
  </div>
	</body>
</html>
