<%= render :partial => "layouts/head" %>
<!--<%= render :partial => "layouts/menu" %>-->

  <div id="content">
        <div id="contentbg_top"></div>
        <%= render :partial => "layouts/left_sidebar"  %>
        <%= render :partial => "layouts/main_body"  %>        
        <%= render :partial => "layouts/right_sidebar"  %>        
        <br class="clear" />
      </div>
    </div>
    <div id="footer">
      <div id = "footer_div">
        <div class="footerlist">
          <span>Vseobecne</span>
            <ul>
              <li>
                <%= link_to "Home", default_path %>
              </li>
              <li>
                <%= link_to "Kontakty", contacts_path %>
              </li>
            </ul>
          </div>
          <div class="footerlist">
          <span>Sporty</span>
           <ul>
            <li>
              <%= raw (Sport.all.collect{|sport| "<li>" + " #{link_to sport.name.capitalize, update_selected_path(sport)} " + "</li>"}) %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
	</body>
</html>
