<%= render :partial => "layouts/head" %>
<!--<%= render :partial => "layouts/menu" %>-->

  <div id="content">
        <div id="contentbg_top"></div>
        <%= render :partial => "layouts/left_sidebar"  %>
        <%= render :partial => "layouts/main_body"  %>        
        <%= render :partial => "layouts/right_sidebar"  %>        
        <br class="clear" />
      </div>
    </div>
    <div id="footer">
      <div id = "footer_div">
        <%= link_to "Home", default_path %> |
        <%= link_to "Kontakty", contacts_path %> |
        <%= raw (Sport.all.collect{|sport| "#{link_to sport.name.capitalize, update_selected_path(sport)} | "}) %>
        <%= link_to "Všeobecné podmienky", rules_path("base") %>
      </div>
    </div>
  </div>
	</body>
</html>
